body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  overflow-x:hidden;
  background-color: #EFEBF7;

}
.App{
height: 100%;
  overflow-x: hidden;
 
  width: 100vw;
  align-items: center;
  display: flex;
 
 flex-direction: column;
}
